{# templates/forum/home.html.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title> Accueil</title>
<body>
<h1>Bienvenue sur le forum !! </h1>
<a href="{{path('forum_index')}}"> Accéder aux sujets du forum</a>
</body>