{% extends 'base.html.twig' %}
{%block title %} Nouveau sujet {%endblock %}

{%block body%}
<h1> Créer nouveau sujet</h1>
{{form_start(form)}}
    {{form_row(form.title)}}
    {{form_row(form.content)}}
    <button type="submit">Créer</button>

    {{form_end(form)}}

{% endblock %}
